RewriteEngine On
RewriteBase /
RewriteRule ^([a-zA-Z0-9_-]+)$ ./redirect.php?url=$1 [L,QSA]
RewriteCond %{HTTP_REFERER} ^https://facebook.com/ [NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php